---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
---

<Layout>
  <div class="h-screen flex flex-col justify-center bg-gradient-to-br from-emerald-200 to-yellow-800">
    <h1 class="text-black text-center font-black text-4xl">书山有路勤为径，学海无涯苦作舟。</h1>
  </div>
</Layout>
